.my-row1
{
	color: #334960;
	font-family: Edwardian Script ITC;
	font-size: 100px;
	
}

.my-row3
{
	margin-top: 30px;
}

.my-row3 .col-4
{
	height: 300px;
	width: 80%;
	background-color: #599DA6;
}

.name
{
	background-color: #599DA6;
	color: white;
	font-size: 30px;
	font-family: Arial;
}

.my-col10 img
{
	width: 100%;
}
.justify-content-end
{
	font-size: 18px;
}

