{% extends 'baseClient.html.twig' %}
{% block stylesheet %}
    <style>
        #main {
            background: url("{{ asset('design/backSignUp.jpg') }}") no-repeat center center fixed;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block Title %}Login{% endblock %}

{% block body_id %}"main"{% endblock %}


{% block body %}
  {% block navbar %}{% endblock %}
<div class="container rounded " id="connexiondiv" style="width:35%">
    <div class="row " style="height: 50%;">
        <div class="col-12  text-center">
            <h3 id="ins"> Connexion </h3>
            <h3 style="font-family: Gabriola, Arial, sans-serif"> Bienvenue ! </h3>
        </div>


        <form class="row" action="{{ path('connexion') }}" method="post" style="margin: 1.5em; width: 100%; margin-bottom: 1em">
            {% if error %}
                <div class="alert alert-danger">Adresse-email ou Mot de passe incorrect !</div>
            {% endif %}
        <div class="col-12 ">
            <div class="form-group">
                                    <label>Adresse-email</label>
                                    <input name="_username" type="email" class="form-control" placeholder="monAdresse@e-mail.com"  aria-describedby="emailHelp" required>
                                </div>

            <div class="form-group">
                                    <label>Mot de passe </label>
                                    <input name="_password" type="password" class="form-control" placeholder="*********" required>
            </div>

            <div class="col-12 text-center " style="width: 100%">
                <button type="submit" class="btn btn-dark col-2 " style="min-width: 40%; margin-top: 1.5em;"> Continuer </button>
            </div>

        </div>
        </form>


        <div class="container" style="margin: 1em">
            <div class="row justify-content-center ">
                <p >Vous n'avez pas un compte ? </p>
                <a href="{{ path('inscription') }}" alt="" title="connectez-vous"> Inscrivez-vous.</a>
            </div>
        </div>
    </div>

    {% block footer %}{% endblock %}
{% endblock %}